<html th:replace="base::layout(~{::section})">
	<head>
		
	</head>
	<body>
		<section class="m-4 adBody">
		    <div class="wrapper">
		        <div class="logo">
		            <img src="/IMG/logo1.png" alt="">
		        </div>
		        <div class="text-center mt-4 name">
		            NOU E-Gyan Admin Login 
		        </div>
		        <div th:if="${msg}" class="alert alert-warning alert-dismissible fade show" role="alert">
		            <span th:text="${msg}"></span>
		            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		         </div>
		        <form class="p-3 mt-3" method="post" th:object="${dto}">
		            <div class="form-field d-flex align-items-center">
		                <span class="far fa-user"></span>
		                <input type="text" th:field="${dto.userid}" name="userName" id="userName" placeholder="Username">
		            </div>
		            <div class="form-field d-flex align-items-center">
		                <span class="fas fa-key"></span>
		                <input type="password" th:field="${dto.password}" name="password" id="pwd" placeholder="Password">
		            </div>
		            <button type="submit" class="btn mt-3">Login</button>
		        </form>
		        
		    </div>
		</section>

	</body>
</html>