<html th:replace="base::layout(~{::section})">
	<head>
		
	</head>
	<body>
		
		
		
		
		   <div class="container-fluid">
			<section class="hero-section">
				       <div class="row">
				       <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
				         
				         <!-- <div class="container d-flex align-item-center justify-content-center fs-1 text-white flex-column text-center">
				           <h1 style="color: white;">NOU E-Gyan Portal</h1>
				             <h2 style="color: white;">Welcome All Student</h2>
				         </div> -->
				           
				          
				             <div class="carousel-inner">
				             
				               <div class="carousel-item active">
				                 
				                 <img src="/IMG/slider2.jpg" class="d-block w-100" alt="...">
				               </div>
				               <div class="carousel-item">
				                 <img src="/IMG/slider3.jpg" class="d-block w-100" alt="...">
				               </div>
				               <div class="carousel-item">
				                 <img src="/IMG/slider4.jpg" class="d-block w-100" alt="...">
				               </div>
				             </div>
				             <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
				               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				               <span class="visually-hidden">Previous</span>
				             </button>
				             <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
				               <span class="carousel-control-next-icon" aria-hidden="true"></span>
				               <span class="visually-hidden">Next</span>
				             </button>
				           
				         </div>
				       </div>
				         
				     </section>
					 
					 <section>
						<!-- marquee Start -->
						 <div class="container-fluid my-2">
						   <div class="row  ">
						     <div class="marquee-container overflow-hidden">

						       <div class="marquee-content d-flex align-items-center">
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Admissions Open for 2024!</div>
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Upcoming Webinar on AI - Register Now!
						         </div>
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Holiday on 25th October for Diwali.</div>
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Get 20% off on registration fees!</div>
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Student Support Services</div>
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Holiday on 25th October for Diwali.</div>
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Get 20% off on registration fees!</div>
						         <div class="marquee-item px-4 py-2 bg-light text-dark rounded mx-1">Student Support Services</div>
						       </div>

						     </div>
						   </div>
						 </div>
						 
						 <!-- Abvout first Start -->
						  <div class="container-fluid about py-5 ">
						    <div class="container py-5">
						      <div class="row g-5 align-items-center">
						        <div class="col-xl-7 wow fadeInLeft " data-wow-delay="0.2s" data-aos="fade-right" data-aos-delay="500">
						          <div class="">
						            <h4 class="Ofeatures fa-2x">About Us</h4>
						            <h1 class="display-5 mb-4 fw-bold">Welcome to NOU e-Gyan Portal</h1>
						            <p class="mb-4">The NOU e-Gyan Portal is a cutting-edge digital platform developed to simplify and enhance
						              academic and administrative processes for Nalanda Open University. Our goal is to provide a seamless
						              experience for students, faculty, and administrators, promoting efficiency, transparency, and innovation.
						            </p>
						            <div class="row g-4">
						              <div class="col-md-6 col-lg-6 col-xl-6">
						                <div class="d-flex featureIcon">
						                  <div><i class="fas fa-lightbulb fa-3x "></i></div>
						                  <div class="ms-4 ">
						                    <h4>Enhanced Efficiency</h4>
						                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
						                  </div>
						                </div>
						              </div>
						              <div class="col-md-6 col-lg-6 col-xl-6">
						                <div class="d-flex featureIcon">
						                  <div><i class="bi bi-bookmark-heart-fill fa-3x "></i></div>
						                  <div class="ms-4">
						                    <h4>Seamless Communication</h4>
						                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
						                  </div>
						                </div>
						              </div>
						              <div class="col-sm-6">
						                <a href="/aboutus" class="btn btn-primary enrollNow py-3 px-5 flex-shrink-0">Enroll Now</a>
						              </div>
						              <div class="col-sm-6">
						                <div class="d-flex featureIcon">
						                  <i class="fas fa-phone-alt fa-2x me-4"></i>
						                  <div>
						                    <h4>User-Friendly Interface:</h4>
						                    <p class="mb-0 fs-5" style="letter-spacing: 1px;">+01234567890</p>
						                  </div>
						                </div>
						              </div>
						            </div>
						          </div>
						        </div>
						        <div class="col-xl-5 wow fadeInRight" data-wow-delay="0.2s" data-aos="fade-left" data-aos-delay="1000">
						          <div class=" rounded position-relative overflow-hidden">
						            <img
						              src="https://www.static-contents.youth4work.com/university/Documents/Colleges/newsEvent/24e0d4cb-fdd2-4594-973e-b2447848a71a.jpg"
						              class="img-fluid rounded w-100" alt="">

						            <!-- <div class="" style="position: absolute; top: -15px; right: -15px;">
						              <img src="" class="img-fluid" style="width: 150px; height: 150px; opacity: 0.7;" alt="">
						            </div>
						            <div class="" style="position: absolute; top: -20px; left: 10px; transform: rotate(90deg);">
						              <img src="" class="img-fluid" style="width: 100px; height: 150px; opacity: 0.9;" alt="">
						            </div> -->
						            <div class="rounded-bottom mt-2">
						              <img src="https://nouegyan.in/assets/img/u1.jpg" class="img-fluid rounded-bottom w-100" alt="">
						            </div>
						          </div>
						        </div>
						      </div>
						    </div>
						  </div>
						  <!-- About first End -->						  
					 </section>
					 

		   </div>
		
			 <!-- Features Start -->
  <div class="container-fluid feature pb-5">
    <div class="container pb-5 ">
      <div class="text-center mx-auto pb-5  wow fadeInUp " style="max-width: 800px;" data-aos="zoom-in" data-aos-delay="500">
        <h4 class="Ofeatures fa-2x">Our Features</h4>
        <h1 class="display-5 mb-4 ">Empowering Education with Smart Solutions.</h1>
        <p class="mb-0">The NOU e-Gyan Portal is an innovative platform designed to streamline academic and
          administrative tasks. It includes a Student Information System for managing records, a secure Login Management
          System, an Enquiry Management System for handling queries, and a Complaint Management System for transparent
          grievance resolution. The Feedback Management System drives improvement through analyzed input, while the
          Study Management System organizes materials, schedules, and assignments.
        </p>
      </div>
      <div class="row  g-4 ">
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s" data-aos="fade-up"
          data-aos-delay="500">
          <div class="feature-item p-4">
            <div class="feature-icon p-4 mb-4 featureIcon">
              <i class="fa-solid fa-person-military-to-person  fa-4x"></i></i>
            </div>
            <h4>Student Information System</h4>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s" data-aos="fade-up"
          data-aos-delay="600">
          <div class="feature-item p-4">
            <div class="feature-icon p-4 mb-4 featureIcon">
              <i class="fas fa-university fa-4x "></i>
            </div>
            <h4>Login Management System:</h4>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s" data-aos="fade-up"
          data-aos-delay="700">
          <div class="feature-item p-4">
            <div class="feature-icon p-4 mb-4 featureIcon">
              <i class="fas fa-file-alt fa-4x "></i>
            </div>
            <h4>Enquiry Management System</h4>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s" data-aos="fade-up"
          data-aos-delay="800">
          <div class="feature-item p-4">
            <div class="feature-icon p-4 mb-4 featureIcon">
              <i class="fa-solid fa-envelope-open-text fa-4x"></i></i>
            </div>
            <h4>Complaint Management System</h4>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features End -->
		
		  
		  <section>
			<!-- Team Start -->
					     <div class="container-fluid team pb-5">
					       <div class="container pb-5">
					         <div class="text-center mx-auto pb-5 wow fadeInUp" data-aos="zoom-in" data-aos-delay="500" style="max-width: 800px;">
					           <h4 class="Ofeatures fa-2x">Our Team</h4>
					           <h1 class="display-5 mb-4">Meet Our Advisers</h1>
					           <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate
					             recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem
					             obcaecati, ipsam mollitia hic.
					           </p>
					         </div>
					         <div class="row g-4">
					           <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-aos="fade-up"
								           data-aos-delay="600">
					             <div class="team-item">
					               <div class="team-img">
					                 <img src="/IMG/team1.jpg" class="img-fluid" alt="">
					               </div>
					               <div class="team-title">
					                 <h4 class="mb-0">Prof. (Dr.) K. C. Sinha </h4>
					                 <br>
					                 <p class="mb-0 ">VICE CHANCELLOR</p>
					               </div>
					               <div class="team-icon">
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
					                     class="fab fa-linkedin-in"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
					               </div>
					             </div>
					           </div>
					           <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp"  data-aos="fade-up"
							              data-aos-delay="700">
					             <div class="team-item">
					               <div class="team-img">
					                 <img src="IMG/team2.jpg" class="img-fluid" alt="">
					               </div>
					               <div class="team-title">
					                 <h4 class="mb-0">Prof. (Dr.) Sanjoy Kumar</h4>
					                 <p class="mb-0">PRO VICE CHANCELLOR</p>
					               </div>
					               <div class="team-icon">
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
					                     class="fab fa-linkedin-in"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
					               </div>
					             </div>
					           </div>
					           <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-aos="fade-up"
							              data-aos-delay="800">
					             <div class="team-item">
					               <div class="team-img">
					                 <img src="IMG/team3.jpeg" class="img-fluid" alt="">
					               </div>
					               <div class="team-title">
					                 <h4 class="mb-0"> Dr. Md. Habibur Rahman</h4>
					                 <p class="mb-0">REGISTRAR</p>
					               </div>
					               <div class="team-icon">
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
					                     class="fab fa-linkedin-in"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
					               </div>
					             </div>
					           </div>
					           <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-aos="fade-up"
							              data-aos-delay="900">
					             <div class="team-item">
					               <div class="team-img">
					                 <img src="IMG/team4.jpeg" class="img-fluid" alt="">
					               </div>
					               <div class="team-title">
					                 <h4 class="mb-0">Dr. Neelam Kumari</h4>
					                 <br>
					                 <p class="mb-0">REGISTRAR (Exam)</p>
					               </div>
					               <div class="team-icon">
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
					                     class="fab fa-linkedin-in"></i></a>
					                 <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
					               </div>
					             </div>
					           </div>
					         </div>
					       </div>
					     </div>
					     <!-- Team End -->
	
<section>
	<!-- Services Start -->
			 <div class="container-fluid service pb-5 " >
			   <div class="container pb-5">
			     <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;" data-aos="fade-down-left">
			       <h4 class="mainColor">Our Services</h4>
			       <h1 class="display-5 mb-4">Student Information System</h1>
			       <p class="mb-0">We offer innovative solutions to simplify academic and administrative tasks, including student
			         record management, secure login access, efficient query handling, transparent grievance resolution, feedback
			         collection for improvement, organized study material access, and instant SMS notifications. Our services aim
			         to enhance efficiency and create a seamless learning experience.
			       </p>
			     </div>
			     <div class="row g-4">
			       <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s" data-aos="fade-up">
			         <div class="service-item">
			           <div class="service-img">
			             <img src="IMG/service-1.jpg" class="img-fluid rounded-top w-100" alt="Image">
			           </div>
			           <div class="rounded-bottom p-4">
			             <a href="#" class="h4 d-inline-block mb-4 ">Login Management System</a>
			             <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis
			               neque nesciunt similique officiis veritatis,
			             </p>
			             <a class="btn btn-primary enrollNow rounded-pill py-2 px-4" href="#">Learn More</a>
			           </div>
			         </div>
			       </div>
			       <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s" data-aos="fade-up" data-aos-delay="500">
			         <div class="service-item">
			           <div class="service-img">
			             <img src="IMG/service2.jpg" class="img-fluid rounded-top w-100" alt="Image">
			           </div>
			           <div class="rounded-bottom p-4">
			             <a href="#" class="h4 d-inline-block mb-4">Enquiry Management System</a>
			             <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis
			               neque nesciunt similique officiis veritatis,
			             </p>
			             <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
			           </div>
			         </div>
			       </div>
			       <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s" data-aos="fade-up" data-aos-delay="600">
			         <div class="service-item">
			           <div class="service-img">
			             <img src="IMG/service3.jpg" class="img-fluid rounded-top w-100" alt="Image">
			           </div>
			           <div class="rounded-bottom p-4">
			             <a href="#" class="h4 d-inline-block mb-4">Complaint Management System</a>
			             <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis
			               neque nesciunt similique officiis veritatis,
			             </p>
			             <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
			           </div>
			         </div>
			       </div>
			       <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s" data-aos="fade-up" data-aos-delay="700">
			         <div class="service-item">
			           <div class="service-img">
			             <img src="IMG/service4.1.jpg" class="img-fluid rounded-top w-100" alt="Image">
			           </div>
			           <div class="rounded-bottom p-4">
			             <a href="#" class="h4 d-inline-block mb-4">Feedback Management System</a>
			             <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis
			               neque nesciunt similique officiis veritatis,
			             </p>
			             <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
			           </div>
			         </div>
			       </div>
			       <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s" data-aos="fade-up" data-aos-delay="800">
			         <div class="service-item">
			           <div class="service-img">
			             <img src="IMG/service5.jpg" class="img-fluid rounded-top w-100" alt="Image">
			           </div>
			           <div class="rounded-bottom p-4">
			             <a href="#" class="h4 d-inline-block mb-4">Study Management System</a>
			             <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis
			               neque nesciunt similique officiis veritatis,
			             </p>
			             <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
			           </div>
			         </div>
			       </div>
			       <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s" data-aos="fade-up" data-aos-delay="900">
			         <div class="service-item">
			           <div class="service-img">
			             <img src="IMG/service6.jpg" class="img-fluid rounded-top w-100" alt="Image">
			           </div>
			           <div class="rounded-bottom p-4">
			             <a href="#" class="h4 d-inline-block mb-4">SMS API Integration</a>
			             <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis
			               neque nesciunt similique officiis veritatis,
			             </p>
			             <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
			           </div>
			         </div>
			       </div>
			     </div>
			   </div>
			 </div>
			 <!-- Services End -->
			 
			 
			 
			 
			 

</section>
			
<!-- How to use Start -->
  <div class="container-fluid feature pb-1">
    <div class="container pb-5 ">
      <div class="text-center mx-auto pb-1  wow fadeInUp " data-wow-delay="0.2s" data-aos="zoom-in-up" style="max-width: 800px;" data-aos-delay="500">
        <h4 class="Ofeatures fa-2x">How To Use</h4>
        <h1 class="display-5 mb-4 ">NOU e-GYAN PORTAL TUTORIAL VIDEOS</h1>
        <p class="mb-0">For any queries regarding the access into the Portal, the users can watch the tutorial videos
          provided or feel free to communicate their issues via the given contact helpline number or helpline email ID.
        </p>
      </div>
    </div>
  </div>
      <section class="bgImg w-100" style="background-color: #b11226;">
        <div class="container-fluid team p-5">
          <div class="container pb-5">
            <div class="row g-4 justify-content-center">
              <!-- Video Card 1 -->
              <div class="col-md-6 " data-aos="fade-right" data-aos-delay="600">
                <div class="card bg-dark text-white shadow">
                  <div class="ratio Hvideo ratio-16x9">
                    <!-- <iframe src="https://www.youtube.com/embed/Sh9VxOBoYbk?si=aUHUbdm-1or1_nyu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    <iframe src="https://www.youtube.com/embed/Sh9VxOBoYbk?si=aUHUbdm-1or1_nyu" title="How to Access Self Learning Materials" allowfullscreen></iframe>
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title">How to Login NOU e-Gyan Portal</h5>
                    <a href="#" class="btn btn-warning fw-bold">HOW TO LOGIN AT NOU e-GYAN PORTAL</a>
                  </div>
                </div>
              </div>
              <!-- Video Card 2 -->
              <div class="col-md-6" data-aos="fade-left" data-aos-delay="800">
                <div class="card bg-dark text-white shadow">
                  <div class="ratio Hvideo ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/cEaTY8EfdRs" title="How to Access Self Learning Materials" allowfullscreen></iframe>
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title">How to Access Self Learning Materials</h5>
                    <a href="#" class="btn btn-warning fw-bold">HOW TO ACCESS CONTENT AT NOU e-GYAN PORTAL</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>
  <!-- How to use End -->
	
	</body>
</html>